<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.tracecompass.android.core.android"
            name="Android Format">
      </category>
      <type
            category="org.eclipse.tracecompass.android.core.android"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.android.core.trace"
            isDirectory="false"
            name="Generic Android Trace"
            trace_type="org.eclipse.tracecompass.incubator.internal.android.core.trace.AndroidTrace">
      </type>
   </extension>

</plugin>
